{% load static %}
{% load async %}
<!doctype html>
<html>
    <head>
        <script type="text/javascript" src="{% static 'async_tag/async.js' %}"></script>
    </head>

    <body>
        {% block foo %}
            His name is {% async %}{{ my_name }}{% endasync %}.
        {% endblock %}

        {% block bar %}
            His name is {% async %}{{ my_name }}{% await %}[...]{% endasync %}.
        {% endblock %}

        {% block baz %}
        {% async %}
        <script type="text/javascript">
            console.log("---\nfoo \"bar\" \'baz'\n---");
        </script>
        {% endasync %}
        {% endblock %}

        <h1>Products</h1>
        {% async %}
        <ul>
            {% for product in products %}
            <li>{{ product.name }} (rating: {% async %}{{ product.rating }}{% await %}loading rating for {{ product.name }}...{% endasync %})</li>
            {% endfor %}
        </ul>
        {% endasync %}
    </body>
</html>
